body{
    background-image:url("../imagenes/bg.jpg");
    background-size:cover;
    margin:0px;
    overflow-x:hidden;
    background-repeat: no-repeat;
}
*{
    font-family:'Roboto Condensed', sans-serif;
    color:white;
    box-sizing:border-box;
}
