

p{
    margin:0px;
}
main{
    padding: 0px 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height: 90vh;
}

#hola{
    font-size:70px;
    font-weight:bold;
    animation:textSlide 2s forwards;
    position:relative;
    right:50px;
    opacity:0
}
#title{
    font-size:60px;
    font-weight: lighter;
    margin:20px 0px;
    animation:textSlide 2s forwards;
    animation-delay:1s;
    position:relative;
    right:50px;
    opacity:0
}
h1 > span {
    color:#F54855;
    font-weight:bold;
}

#info{
    font-size:20px;
    font-weight: lighter;
    animation:textSlide 2s forwards;
    animation-delay:1.5s;
    position:relative;
    right:50px;
    color:#9d9d9d;
    opacity:0
}

#moon{
    position:absolute;
    top:10px;
    right: -100px;
    animation:moonAnimation 20s infinite alternate;
}


@keyframes moonAnimation {
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(180deg)
    }
}

@keyframes textSlide {
    from{
        position:relative;
        right:50px;
        opacity:0
    }
    to{
        position:relative;
        right:0px;
        opacity:1;
    }
}



