body{
    background-image:url("../imagenes/bg.jpg");
    background-size:cover;
    margin:0px;
    overflow-x:hidden;
}
*{
    font-family:'Roboto Condensed', sans-serif;
    color:white;
}

nav{
    width:100%;
    height:10vh;
    background-color:black;
    color:white;
    opacity:0.8;
    position:relative;
    z-index:2;
}

ul{
    margin:0px;
    list-style:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100%;
}
p{
    margin:0px;
}
main{
    padding: 0px 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height: 90vh;
}

#hola{
    font-size:70px;
    font-weight:bold;
}
#title{
    font-size:60px;
    font-weight: lighter;
    margin:20px 0px;
}
h1 > span {
    color:#F54855;
}

#info{
    font-size:20px;
    opacity:0.5;
    font-weight: lighter;
}

#moon{
    position:absolute;
    top:10px;
    right: -100px;
    animation-name:moonAnimation;
    animation-duration:20s;
}


@keyframes moonAnimation {
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(180deg)
    }
}

/*
about me styles
*/

#about-me-title{
    font-size:70px;
    font-family:'Bebas Neue', cursive;
    color:#F54855;
    margin-left: 60px;
}
#info-about{
    background-color:black;
    padding:80px;
    border-radius:10px;
    opacity:0.8;
    width:500px;
    margin-left:50px;
    padding-top:0px;
}

#profile{
    width:200px;
    height:200px;
    border-radius:9999px;
    background-color:black;
    position:absolute;
    border: solid 5px #F54855;
    left:80px;
    top:50%;
    z-index:2;
}
#info-about > div {
    display:flex;
    justify-content:space-between;
    width:30%;
    margin: 30px auto;
    //margin:auto;
}
